<%-include('partials/header.ejs');%>
<%-include('partials/nav.ejs')%>
<style>
     
    #resumen {
            display: flex; 
            line-height: 1.5;
        }
        #info,
        #total {
            border-collapse: collapse;
            margin-right: 20px;
        }
        #info th,
        #total th,
        #info td,
        #total td {
            border: 1px solid #ccc;
            padding: 8px;
        }
        #info th,
        #total th {
            background-color: #f2f2f2;
            text-align: left;
        }
        #info td,
        #total td {
            text-align: center;
        }
</style>
<section>
    <div id="formulario">
        <form action="/cotizacion" method="post"><br><br>
            <label for="folio">Folio</label>
            <input type="number" name="folio" id="folio" required><br><br>
            <label for="">Valor de Automovil</label>
            <input type="number" name="valor" id="valor" required><br><br>
            <label for="">Porcentaje de Pago Inicial</label>
            <input type="number" name="pinicial" id="pinicial" required><br><br>
            <select name="plazo" id="plazo">
                <option value="12">12 Meses</option>
                <option value="24">24 Meses</option>
                <option value="36">36 Meses</option>
                <option value="48">48 Meses</option>
                <option value="60">60 Meses</option>
            </select><br><br>
            <button type="submit">Calcular</button>
            <button type="button" onclick="limpiarTabla()">Limpiar</button><br><br>
        </form>
    </div>
    <div id="resumen">
        <table id="info">
            <tr>
                <th>Folio</th>
                <th>Precio</th>
                <th>Porcentaje Inicial</th>
                <th>Plazos</th>
            </tr>
            <tr>
                <td id="folio"><%= folio %></td>
                <td id="valor">$<%= valor %></td>
                <td id="pinicial"><%= pinicial %></td>
                <td id="plazo"><%= plazo %></td>
            </tr>
        </table>
        <br><br>
        <table id="total">
            <tr>
                <th>Pago inicial</th>
                <th>Total a Fin</th>
                <th>Pago mensual</th>
            </tr>
            <tr>
                <td id="pagoInicial">$<%= pagoInicial %></td>
                <td id="totalAFin">$<%= totalAFin %></td>
                <td id="pagoMensual">$<%= pagoMensual %></td>
            </tr>
        </table>
    </div>
</section>
<script>
    function limpiarTabla() {
        document.getElementById("folio").value = "";
        document.getElementById("valor").value = "";
        document.getElementById("pinicial").value = "";
        document.getElementById("plazo").value = "";
        document.getElementById("folio").innerHTML = "";
        document.getElementById("valor").innerHTML = "";
        document.getElementById("pinicial").innerHTML = "";
        document.getElementById("plazo").innerHTML = "";
        document.getElementById("pagoInicial").innerHTML = "";
        document.getElementById("totalAFin").innerHTML = "";
        document.getElementById("pagoMensual").innerHTML = "";
    }
</script>