<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archivos</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit beatae quasi neque minima maxime eveniet
        cupiditate eum mollitia ullam, ipsum libero ratione labore praesentium deserunt! Eligendi magnam
        accusamus porro sit.</p>
    <%- include('partials/footer.ejs') %>
</body>
</html>
